{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
<a href="{{ path('genre_new') }}" class="btn btn-success mt-3">Ajouter nouvelle genre</a><br><br>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                
                <td>{{ genre.nom }}</td>
                <td>
                    {{ include('genre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
