<form method="post" action="{{ path('auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn btn-danger mt-1 mb-1">Delete</button>
     <a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="btn btn-success mt-1 mb-1">show</a>
                    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-info mt-1 mb-1">edit</a>
</form>
